body{
    height: 100vh;
    overflow: hidden;
    background: #33ccff no-repeat; 
}
.conteiner{
    display: grid;
    justify-content: center;
    justify-items: center;  
    font-family : Arial, Helvetica, sans-serif;
    color: white; 
}
.city-submit{
    display: flex;
}

.city{
    
    width: 412px;
    height: 25px;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
   
}
.imgweather{
    margin-top: -150px;
}
.weather{
height: 153px;
width: 414px;

margin-top: 10px;
position: relative;
display: flex;
}
.temperature{
    height: 54px;
    width: 100px;
    margin-top: 60px;
    margin-left: 32px;
    font-size: 54px;
}
.day-city{
    height: 40px;
    width: 400px;
    margin-top: 78px;
    font-size: 14px;
}

   time{
       height: 30px;
       width: 100px;
   }
